/* Celulares */
@media screen and (max-width: 700px) {
    /* index */

    #body-home{
        overflow: initial;
    }

    #main {
        display: block;
        grid-template-columns: none;
        height: 100vh;
        background: linear-gradient(323deg, rgba(0, 40, 72, 1) 16%, rgba(0, 51, 93, 1) 45%, rgba(0, 71, 130, 1) 57%, rgba(1, 91, 165, 1) 100%);
        position: relative;
    }

    main section:nth-of-type(3),
    main section:nth-of-type(4),
    main section:nth-of-type(5),
    main section:nth-of-type(6),
    main section:nth-of-type(7),
    main section:nth-of-type(8){
        padding: 2rem;
    }

    #container-form {
        background: transparent;
        display: flex;
        flex-direction: column;

    }

    #container-form>a {
        margin-top: 0.5rem;
        position: static;
    }

    #container-image {
        background: none;
    }

    #container-image img {
        margin-top: 5rem;
        width: 15rem;
    }

    .input-box div {
        padding: 0 0.8rem;
        border-radius: 5px;
        height: 100%;
    }
    .btn {
        font-size: 12px;
        padding: 0.8rem;
        width: 15rem;
    }
    .input-box input 
    {
        padding: 0.8rem;
        width: 15rem;
    }

    .arrow-p{
        display: initial !important;
    }

    ::placeholder {
        font-size: 15px;
    }


    .checkbox-box {
        font-weight: 300;
        position: relative;
        font-size: 15px;
    }

    /* tela de recuperar senha */
    .logo img {
        margin: 0.8rem 0.5rem;
        width: 4rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container-rec {
        height: 20rem;
        width: 22rem;
        border-radius: 10px;
        box-shadow: 0 10px 2px rgba(0, 0, 0, 0.1);
    }

    .container-rec h2 {
        text-align: center;
        padding: 1.5rem;
        border-radius: 15px;
        font-size: 15px;
    }

    .centralizar p {
        text-align: center;
        margin-left: 0.5rem;
        margin-top: 0.8rem;
        position: absolute;
        font-weight: 500;
        top: 0;
    }

    .botao {
        margin-top: 0.5rem;
    }

    /* tela de cadastro */
    .estilo-form {
        display: flex;
        flex-direction: column;
    }

    .titulo h2 {
        text-align: center;
        padding: 0.5rem;
        background-color: var(--bgcolor-icon-input);
        border-radius: 10px;
        box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
        width: 15rem;
        margin-top: 3rem;
        font-size: 15px;
    }

    .estilo-form {
        gap: 0.5rem;
    }

    .radio-button-container {
        gap: 14px;
    }

    /* home */
    main {
        grid-template-columns: initial;
    }

    main section:nth-of-type(1),
    main section:nth-of-type(2) {
        display: none;
    }

    main section:nth-of-type(1) {
        margin-bottom: 0.5rem !important;
    }

    main section {
        margin: 0 !important;
    }

    aside ul li {
        background-color: #e3e9f7 !important;
        color: var(--azul) !important;
        padding: 1.15rem 1rem;
        min-height: 8dvh;
        font-weight: 900;
    }

    aside ul li i {
        color: var(--azul) !important;
    }

    aside ul {
        gap: 2px;
    }

    #date-container {
        padding: 2rem 2rem 7rem 2rem;
        margin-top: 1rem;
    }

    #profile-box {
        display: flex;
        align-items: center;
        position: relative;
    }
    /* #greetings{margin-top: -1rem;} */

    /* tela de perfil */
    #main-p {
        grid-template-columns: initial;
    }

    .left-container {
        display: none;
        justify-content: none;
        align-items: none;
        background-color: none;
        height: 0vh;
        position: relative;
        flex-direction: none;
    }

    .dadosBox .containerBox p:nth-child(1) {
        font-size: 13px;
    }

    /* Perfil */

    .tooltip{
        margin-left: 76dvw;
    }

    .textBox{
        width: 60dvw;
    }

    .title-box{
        padding: 8px 0;
        width: 95dvw;
        margin-top: 1rem;
    }
}

/* PC */
@media screen and (min-width: 1920px) {

    /* Página de Home */
    header {
        padding: 2rem 0 2rem 2rem;
    }

    #logo img {
        height: 4rem;
    }

    #options {
        padding: 1.5rem 7rem 1.5rem 2rem;

    }

    #options a {
        font-size: 1.25rem;
    }


    #icon-box img {
        height: 4rem;
    }

    #body-home main {
        padding: 2rem 2rem 3rem 2rem;
    }

    #body-home main section:nth-of-type(1) {
        margin: 0 2rem;
    }

    #body-home main section:nth-of-type(2) {
        margin: 0 0 0 2rem;
    }

    aside ul {
        margin-right: 1rem;
    }

    aside ul li {
        padding: 0 0 0 32px;
        font-size: 1.5rem;

        border-radius: 25px;
    }

    #greetings {
        font-size: 3rem;
    }

    #news {
        padding: 1rem 1.5rem;
    }

    #news h2 {
        font-size: 2rem;
        font-weight: 800;
    }

    #news p {
        padding: 8px 0;
    }

    #date-container #date span:nth-child(1) {
        font-size: 3rem;
    }

    #date-container #date span:nth-child(2) {
        font-size: 7rem;
        margin: 6px 0;
        font-weight: 900;
    }

    #date-container #date span:nth-child(3) {
        font-size: 3rem;
    }

    #events {
        margin-top: 2rem;
    }

    #date-container {
        margin-bottom: 2rem;
    }

    #date-container #hour #clock {
        transform: scale(1.5);
    }

    #date-container #hour {
        justify-content: flex-end;
        margin-right: 2.5rem;
    }

    #events .warning {
        justify-content: space-between;
        padding: 1rem 2.5rem;
    }

    /* Página de login */
    .estilo-form {
        max-width: 62rem;
    }

    #form,
    #container-image img,
    #container-form>a {
        transform: scale(1.1);
    }
}