/* 

@media screen and (min-width: 1200px) and (max-width: 1919px) {
}

*/

@media screen and (max-width: 480px){
    main{
        grid-template-columns: initial;
    }

    main section:nth-of-type(1), main section:nth-of-type(2){
        display: none;
    }

    main section:nth-of-type(1){
        margin-bottom: 2rem !important;
    }

    main section{
        margin: 0 !important;
    }

    #logo img{
        height: 2.5rem;
    }

    aside ul li{
        background-color: #e3e9f7 !important;
        color: var(--azul) !important;
        padding: 1.15rem 1rem;
        min-height: 8dvh;
        font-weight: 900;
    }
    
    aside ul li i{
        color: var(--azul) !important;
    }

    aside ul{
        gap: 2px;
    }

    #date-container{
        padding: 2rem 2rem 7rem 2rem;
    }
}

@media screen and (min-width: 1920px) {
    main {
        padding: 2rem 2rem 3rem 2rem;
    }

    main section:nth-of-type(1){
        margin: 0 2rem;
    }

    main section:nth-of-type(2){
        margin: 0 0 0 2rem;
    }

    aside ul {
        margin-right: 2rem;
        gap: 1rem;
    }

    aside ul li {
        padding: 0 0 0 32px;
        font-size: 1.5rem;
        font-weight: 900;
        border-radius: 25px;
    }

    #greetings {
        font-size: 3rem;
    }

    #news {
        padding: 1rem 1.5rem;
    }

    #news h2 {
        font-size: 2rem;
        font-weight: 800;
    }

    #news p {
        padding: 8px 0;
    }

    #date-container #date span:nth-child(1) {
        font-size: 3rem;
    }
    
    #date-container #date span:nth-child(2) {
        font-size: 7rem;
        margin: 6px 0;
        font-weight: 900;
    }
    
    #date-container #date span:nth-child(3) {
        font-size: 3rem;
    }

    #events{
        margin-top: 2rem;
    }

    #date-container{
        margin-bottom: 2rem;
    }

    #date-container #hour #clock{
        transform: scale(1.5);
    }

    #date-container #hour{
        justify-content: center;
    }

    .warning {
        justify-content: space-between;
    }

    
}